<%- include('partials/navbar')%>
<div class="d-f">
<%- include('partials/lateral')%>
      <div class="container">
            <div class="scroll">
                  <div class="contenido pd-2 p-0-cl registrar_user">
                      
                      <div class="w100">
                         <h2 class="tl-2 f-izquierda tl-cl"><i class="fa fa-edit tx-plomo"></i> Editar Sucursal</h2>
                          <a href="/delete/<%=datos.id%>" class="btn-a sin-fondo f-derecha eliminar"><i class="fa fa-shopping-cart"></i> Eliminar Producto</a>
                      </div>
                      <hr>
                      <form action="/updated/<%=datos.id%>" method="post">
                        <div class="columna-3">
                            <label class="pd-2 p-tb-0 p-0-cl">
                                Nombre de sucursal :
                                <input type="text" class="campo" name="sucursal" value="<%=datos.nombre%>" placeholder="Sucursal Oriente"
                                    required>
                            </label>
                            <label class="pd-2 p-tb-0 p-0-cl">
                                Dirección de sucursal:
                                <input type="text" class="campo" name="direcc"
                                    placeholder="Independencia #190 esq.Fiallo" value="<%=datos.direccion%>" required>
                            </label>
                            <label class="pd-2 p-tb-0 p-0-cl">
                                Empleados:
                                <input type="number" class="campo" name="empleados" placeholder="10" value="<%=datos.empleados%>" required>
                            </label>
                            <label class="pd-2 p-tb-0 p-0-cl">                                
                                <button type="submit" class="boton rd-20 m-t-2 bg-azul-mar m-r-1"><i class="fa fa-edit tx-plomo"></i>Editar</button>
                            </label>
                        </div>

                    </form>
                  </div>
              <!--::::::::::::::::-->
              
              <!--::::::::Listado de Producto::::::::::-->
              
                 <hr>
                 <%- include('partials/footer')%>
              </div>    
      </div>